body {
  margin: 0;
  background: #2c1d3a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: 'Times New Roman', serif;
}

.scene {
  text-align: center;
}

.envelope {
  position: relative;
  width: 260px;
  height: 160px;
  background: #ff9aa2;
  margin: 20px auto;
  border-radius: 8px;
  overflow: hidden;
}

/* flap */
.cover {
  position: absolute;
  width: 0;
  height: 0;
  border-left: 130px solid transparent;
  border-right: 130px solid transparent;
  border-top: 80px solid #ff6f9f;
  top: 0;
  left: 0;
  transform-origin: top center;
  transition: transform 0.6s ease;
  z-index: 3;
}

/* letter */
.letter {
  position: absolute;
  width: 90%;
  left: 5%;
  bottom: 0;
  background: white;
  padding: 1px;
  border-radius: 0px;
  transform: translateY(100%);
  transition: transform 1s ease;
  z-index: 2;
}
/* When opened */
.envelope.open .letter {
  transform: translateY(-10px); /* slide out */
}

.envelope.open .cover {
  transform: rotateX(180deg); /* open the flap */
}

/* buttons */
button {
  margin: 10px;
  padding: 8px 22px;
  border-radius: 20px;
  border: none;
  background: white;
  color: #a63d8d;
  font-weight: bold;
  cursor: pointer;
}
